<!DOCTYPE html>
<html>
	<head>			
		<title>
			{{ title}}
		</title>
    </head>
	<body>
		<h1>Disney Character</h1>
		<p>{{ name }}</p>
		<button onclick="window.location.reload();">
			Generate
		</button>
		{% for character in disneycharacter %}
        <h4>{{ character.name }}</h4>
		{% endfor %}
        
		
		<h1>Marvel Character</h1>
		<p>{{ name }}</p>
		<button onclick="window.location.reload();">
			Generate 
		</button>
		{% for character in marvelcharacter %}
        <h4>{{ character.name }}</h4>
		{% endfor %}
	
	</body>
</html>